<!DOCTYPE html>
<html th:replace="~{base :: base(~{::title}, ~{:: #conteudo})}" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="conteudo">
    <h1>Bem Vindo à Biblioteca do Jhony Bravo</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZZ5LpwO-An4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<!--    <img src="https://uploads.spiritfanfiction.com/fanfics/historias/201805/coisas-aleatorias-que-esse-nao-se-apague-3-13125336-260520182110.jpg" alt="Imagem">-->
    <h1>Eu serei seu guia</h1>
</div>

</body>
</html>